*   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outer-box-1    {
    background-color: cornflowerblue;
    width: 17%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    height: 500px;
}
.home   {
    border: 3px rosybrown solid;
    background-color: bisque;
    margin-bottom: 20px;
    height: 40px;
    position: absolute;
    width: 93%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: 20px;
}
.users  {
    border: 3px rosybrown solid;
    background-color: bisque;
    margin-bottom: 20px;
    height: 40px;
    position: relative;
    width: 100%;
    
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
    top: 70px;
}
.products   {
    border:3px rosybrown solid;
    background-color: bisque;
    margin-bottom: 20px;
    height: 40px;
    position: absolute;
    width: 93%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: 120px;
}
.orders {
    border: 3px rosybrown solid;
    background-color: bisque;
    margin-bottom: 20px;
    height: 40px;
    position: absolute;
    width: 93%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: 170px;
}
.text   {
    position: absolute;
    text-align: justify;
    font-size: 12px;
    top: 95%;
}
.hidden-menu    {
    position: absolute;
    width: 100%;
    justify-content: center;
    visibility: hidden;
    padding: 20px;
    height: 100%;
    left: 230px;
    top: -30px;
}
.customers  {
    border: 2px gray solid;
    background-color: whitesmoke;
    
    height: 40px;
    display: block;
    width: 100%;
    
    
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
}

#users:hover .hidden-menu .customers  {
    
    z-index: 1;
    visibility: visible;
}

.outer-box-2    {
    background-color: cornflowerblue;
    width: 45%;
    height: 60px;
    position: relative;
    padding: 10px;
    
    left: 400px;
    top: -500px;
}
.home-2 {
    border: 3px rosybrown solid;
    background-color: bisque;
    width: 30%;
    height: 40px;
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    left: 3%;
}
.users-2    {
    border: 3px rosybrown solid;
    background-color: bisque;
    
    height: 40px;
    position: relative;
    width: 20%;
    
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
    left: 26%;
}
.products-2 {
    border: 3px rosybrown solid;
    background-color: bisque;
    
    height: 40px;
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: 10px;
    left: 52%;
}
.orders-2   {
    border: 3px rosybrown solid;
    background-color: bisque;
    
    height: 40px;
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    top: 10px;
    left: 77%;
}
.hidden-menu-2    {
    position: absolute;
    
    justify-content: center;
    visibility: hidden;
    padding: 20px;
    height: 100%;
    left: 0px;
    top: 50px;
}
.customers-2  {
    border: 2px gray solid;
    background-color: whitesmoke;
    
    height: 40px;
    display: block;
    width: 100%;
    
    
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
}
#users-2:hover .hidden-menu-2 .customers-2  {
    
    z-index: 1;
    visibility: visible;
}