*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-1  {
    background-color: rgb(128, 128, 128);
    width: 50%;
    height: 100%;
    color: brown;
    margin: 20px;
    padding-top: 20px;
}
.box-2  {
    background-color: wheat;
    color: black;
    margin: 20px;
    text-align: center;
    font-size: 22px;
}
.box-3  {
    background-color: palevioletred;
    color: black;
    border: 1px solid red;
    margin: 20px;
    padding: 0 20px;
}
.box-4  {
    background-color: palevioletred;
    color: black;
    border: 1px solid red;
    margin: 20px;
    padding: 0 20px;
}
.button {
    background-color: blueviolet;
    height: 40px;
    width: 80px;
    margin-left: 20px;
    border-radius: 10%;
    color: white;
    margin-bottom: 10px;
}
p    {
    text-align: justify;
}
.p2 {
    font-size: 22px;
}
.p3 .p4 {
    
}